.container {
  display: inline-block; 
  max-width: 500px;
}

canvas {
  margin-top: 15px;
}

textarea {
  width: 500px;
}

.hidden {
  position: absolute;
  top: -1000px;
}

.tag {
  font-family: Lato;
  display: inline-block;
  background-color: #d44500;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}